RewriteEngine On
RewriteBase /

# Frontend routes

RewriteCond %{REQUEST_URI} ^/static/ [NC]
RewriteRule ^ - [L]

RewriteRule ^home index.html [L]

# API routes

RewriteRule .* - [e=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1/ [L,R] 

#/fetch/
RewriteRule ^api/fetch/board$ api/fetch/board.php [L]
RewriteRule ^api/fetch/list$ api/fetch/list.php [L]
RewriteRule ^api/fetch/item$ api/fetch/item.php [L]

#/create/
RewriteRule ^api/create/board$ api/create/board.php [L]
RewriteRule ^api/create/list$ api/create/list.php [L]
RewriteRule ^api/create/item$ api/create/item.php [L]

#/edit/
RewriteRule ^api/edit/board$ api/edit/board.php [L]
RewriteRule ^api/edit/list$ api/edit/list.php [L]
RewriteRule ^api/edit/item$ api/edit/item.php [L]

#/move/
RewriteRule ^api/move/list$ api/move/list.php [L]
RewriteRule ^api/move/item$ api/move/item.php [L]

#/delete/
RewriteRule ^api/delete/board$ api/delete/board.php [L]
RewriteRule ^api/delete/list$ api/delete/list.php [L]
RewriteRule ^api/delete/item$ api/delete/item.php [L]

#/user/
RewriteRule ^api/user/login$ api/user/login.php [L]
RewriteRule ^api/user/register$ api/user/register.php [L]
RewriteRule ^api/user/logout$ api/user/logout.php [L]
RewriteRule ^api/user/reauth$ api/user/reauth.php [L]
RewriteRule ^api/user/owned$ api/user/owned.php [L]
RewriteRule ^api/user/shared$ api/user/shared.php [L]

# Comment out the first line when deploying.

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST"
Header set Access-Control-Allow-Headers "Content-type, Authorization"

# Everything else is redirected to home page.

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^.*$ /home [L]


