Options -Indexes
RewriteEngine On
Options +FollowSymLinks

# Hidden files and folders
RewriteRule ^(src|config|setup|vendor|node_modules) - [F,L,R=404]
RewriteRule (composer\.json|composer\.lock) - [F,L]
RewriteRule (package\.json|package-lock\.json) - [F,L]
RewriteRule \.git - [F,L]

# API routes

RewriteRule ^api/(.*)/$ api/$1 

RewriteRule ^api/get/([0-9a-z-]+)$ api/get_board.php?board_id=$1 [L]
RewriteRule ^api/get/([0-9a-z-]+)/([0-9]+)$ api/get_list.php?board_id=$1&list_id=$2 [L]
RewriteRule ^api/get/([0-9a-z-]+)/([0-9]+)/([0-9]+)$ api/get_item.php?board_id=$1&list_id=$2item_id=$3 [L]

RewriteRule ^api/new/board$ api/new_board.php [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^api/(.*)\.php [L,R=404]


