RewriteEngine On
RewriteBase /

# Frontend routes

RewriteCond %{REQUEST_URI} ^/static/ [NC]
RewriteRule ^ - [L]

RewriteRule ^home index.html [L]

# API routes

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1/ [L,R] 

#/get/
RewriteRule ^api/get/(.+)$ api/get/board.php?board_id=$1 [L]
RewriteRule ^api/get/(.+)/(.+)$ /api/get/list.php?board_id=$1&list_id=$2 [L]
RewriteRule ^api/get/(.+)/(.+)/(.+)$ /api/get/item.php?board_id=$1&list_id=$2item_id=$3 [L]

#/new/
RewriteRule ^api/new/board$ api/new/board.php [L]
RewriteRule ^api/new/list$ api/new/list.php [L]
RewriteRule ^api/new/item$ api/new/item.php [L]

#/update/
RewriteRule ^api/update/board$ api/update/board.php [L]
RewriteRule ^api/update/list$ api/update/list.php [L]
RewriteRule ^api/update/item$ api/update/item.php [L]

#/user/
RewriteRule ^api/user/auth$ api/user/auth.php [L]

# Everything else is redirected to home page.

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^.*$ /home [L]


# Comment out the first line when deploying.

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST"
Header set Access-Control-Allow-Headers "Content-type"
