<!DOCTYPE html>

<html lang="fr">
    <head>
        <title>Vue-patron de Kanban</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="kanban.css" />
    </head>
    <body>
        <div class="list_container">
            <h2 class="list_header">Nom du Kanban</h2>
            <div class="list_body">
                <div class="list_cat">
                    <h4 class="cat_name">Catégorie au nom trop long</h4>
                    <div class="cat_body">
                        <ul class="task_list">
                            <li class="task_item">Item</li>
                            <li class="task_item">Autre item avec un nom trop long aussi</li>
                        </ul>
                    </div>
                </div>
                <div class="list_cat">
                    <h4 class="cat_name">Autre catégorie au nom trop long</h4>
                    <div class="cat_body">
                        <ol class="task_list">
                            <li class="task_item">Item</li>
                        </ol>
                    </div>
                </div>
                <div class="list_cat">
                    <h4 class="cat_name">Autre catégorie au nom trop long</h4>
                    <div class="cat_body">
                        <ol class="task_list">
                            <li class="task_item">Item</li>
                        </ol>
                    </div>
                </div>
                <div class="list_cat">
                    <h4 class="cat_name">Autre catégorie au nom trop long</h4>
                    <div class="cat_body">
                        <ol class="task_list">
                            <li class="task_item">Item</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
