.list_container {
    background: grey;
    padding: 10px;
}

.list_header {
    background: gold;
    border: 2px black solid;
    font-weight: bold;
}

.list_body {
    display: grid;
    grid-gap: 10px;
    grid-template: fitcontent(100px) / fitcontent(40%);
    grid-auto-flow: column;
    text-overflow: auto;
}

.list_cat {
    padding: 10px;
    margin: 10px;
    border: 2px lightgrey solid;
}

.cat_name {
    color: blue;
    border: 2px darkgrey solid;
    padding: 5px;
}

.cat_body {
}

.task_list {
    background: yellow;
    padding: 5px 5px 5px 5px;
}

.task_item {
    background: orange;
    list-style: lower-alpha inside;
    margin: 5px 0 5px 0;
}



